<% @comics.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |comic| %>
      <div class="comic-wrapper col-md-3">
        <%= comic_box(comic, @votes) %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12 text-right pagination">
    <%= link_to "Next", { page: params[:page].to_i + 1, query: params[:query] }, class: 'btn btn-default' %>
  </div>
</div>
