<% @comics.in_groups_of(4, false).each do |group| %>
  <div class="row">
    <% group.each do |comic| %>
      <div class="comic-wrapper col-md-3">
        <%= comic_box(comic, @votes) %>
      </div>
    <% end %>
  </div>
<% end %>
