.comic-wrapper {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  color: $text-color;
}

.comic-box {
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.comic-actions {
  margin: 10px 0;
}

.comic-title {
  padding: 0 10px;
}
